.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.header-logo {
  display: flex;
  align-items: center;
}
.logo {
  height: 50px;
  border-radius: 50%;
}
.logo-text {
  margin-left: 10px;
  font-size: 32px;
  font-weight: bold;
}
.search-container {
  width: 290px;
  height: 52px;
  display: flex;
  border-radius: 100px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  border: #000 2px solid;
  background-color: #feb8ff;
}

.search-input {
  width: 100%;
  font-size: 24px;
  border: none;
  background-color: #feb8ff;
}

.search-button {
  border-radius: 50px;
  border: none;
  background-color: #feb8ff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.lupa {
  height: 22px;
}
.results-container {
  display: flex;
  max-width: 1440px;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding-left: 80px;
  padding-right: 80px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.lenguage-batton {
  background-color: #fff;
  border: none;
}
.lenguage {
  width: 40px;
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

/* card */
.card {
  width: 624px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
}

.card-title {
  font-size: 32px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

/* footer */
